<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="c:\temp\internal.txt">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<extensions>
		<!--enable NLog.Web for ASP.NET Core-->
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Database"/>
		<add assembly="NLog.Extensions.Logging"/>
	</extensions>
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
	  <target xsi:type="Database"
		   name="databaseTarget"
			dbProvider="Npgsql.NpgsqlConnection, Npgsql"
		   connectionString="Host=localhost;Port=5432;Database=testdb;Username=postgres;Password=password"
		   commandText="INSERT INTO &quot;TcLogs&quot; (&quot;Level&quot;,&quot;Message&quot;,&quot;LogDate&quot;,&quot;Exception&quot;, &quot;CallSite&quot;, &quot;Trace&quot;, &quot;Logger&quot;) VALUES (@level,@messsge,CURRENT_TIMESTAMP(0),@exception,@callSite,@trace, @logger);">
		  <parameter name="@level" layout="${level}" />
		  <parameter name="@messsge" layout="${message}" />
		  <parameter name="@exception" layout="${exception:tostring}" />
		  <parameter name="@callSite" layout="${callsite:filename=true}" />
		  <parameter name="@trace" layout="${stacktrace}" />
		  <parameter name="@logger" layout="${logger}" />
	  </target>
	  <target xsi:type="Null" name="blackHole" />
    <!--
    Write events to a file with the date in the filename.
	
	  
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
	  <logger name="Microsoft.*" minlevel="Info" writeTo="blackHole" final="true" />
	  <logger name="*" minlevel="Info" writeTo="databaseTarget" />
	  
	  <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
